API_BASE=https://discord.com/api/v9
POLL_INTERVAL=30
HEARTBEAT_INTERVAL=20
AUTO_ACCEPT=True
LOG_PROGRESS=True
DEBUG=True

BOT_TOKEN=your_discord_bot_token_here
ADMIN_IDS=1135945525678583940
CHANNEL_ID=

# Cấu hình emoji tùy chỉnh (ví dụ: <:loading:123456789012345678> hoặc <a:loading:123456789012345678>)
EMOJI_LOADING=<a:loading:1523330530785890435>
EMOJI_SUCCESS=<a:success:1523330534535725056>
EMOJI_FAIL=<a:fail:1523330528718229504>
EMOJI_ROCKET=<a:rocket:1523330532870455307>

# Cấu hình SePay API Key (Lấy từ https://sepay.vn)
SEPAY_API_KEY=QIS9Q1OAIP8LTKV4LNBMU33G1D8TINHJWZHWEZ5JDHXCRBZF5OARUEYWJM6QDYJ4
